.checkList{
    background-color: pink;
}
.sss{
    padding:12px 12px;
    background-color: white;
    text-decoration-color: pink;
    margin:300px 300px 300px 700px;
}
.aaa
{
    padding:12px 12px;
    background-color: white;
    text-decoration-color: pink;
}